.container {
    margin-top: 30px;
    max-width: 240px; /* Cambiamos "width" por "max-width" para que el ancho máximo se pueda reducir */
    padding: 5px;
    --border-radius: 15px;
    --border-width: 4px;
    appearance: none;
    position: relative;
    border: 0;
    background: rgb(5, 5, 22);
    color: #fff;
    z-index: 2;
    border-radius: 15px;
    box-shadow: 0 0 10px rgb(211, 206, 206);
    margin-right: 30px;
    margin-left: 30px;
  }