.container {
  margin-top: 30px;  
  max-width: 240px; /* Cambiamos "width" por "max-width" para que el ancho máximo se pueda reducir */
  padding: 5px;
  --border-radius: 15px;
  --border-width: 4px;
  appearance: none;
  position: relative;
  border: 0;
  background: rgb(5, 5, 22);
  color: #fff;
  z-index: 2;
  border-radius: 15px;
  box-shadow: 0 0 10px rgb(211, 206, 206);
 
}

.image {
  border-radius: 16px;
  margin: 0 auto; /* Agregamos "margin: 0 auto" para centrar la imagen horizontalmente */
  display: block;
  max-width: 100%;
  height: auto;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
  margin-bottom: 5px;
}

.buttonClose {
  background-color: #0b0d72;
  color: white;
  border: 0px;
  border-radius: 10px;
  cursor: pointer;
  padding: 5px 15px; /* Añadimos un poco más de espacio alrededor del botón */
  margin-left: 10%; /* Añadimos un poco de espacio entre los botones */
}
.buttonFav {
  background-color: #0b0d72;
  color: white;
  border: 0px;
  border-radius: 10px;
  cursor: pointer;
  padding: 5px 10px; /* Añadimos un poco más de espacio alrededor del botón */
  margin-right: 55%; /* Añadimos un poco de espacio entre los botones */
}

.buttonContainer button:first-child {
  margin-left: 0; /* Quitamos el margen izquierdo del primer botón */
}

.buttonContainer button:hover {
  background-color: #0b0d7290;
}

.dataContainer {
  position: relative;
}

.name {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; /* Utilizamos una anchura del 100% para que el nombre ocupe todo el ancho disponible */
  border-radius: 10px;
  background-color: rgba(8, 6, 116, 0.329);
  color: white;
  padding: 5px;
  margin: 0;
}

.SG {
  display: flex;
  color: aliceblue;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
  /*  */margin-top: 10px;
}

/* Media query para pantallas de hasta 768px de ancho */
@media only screen and (max-width: 768px) {
  /* Definimos estilos específicos para pantallas de hasta 768px de ancho */

  .container {
    max-width: 180px;
    margin-top: 20px;
  }

  .SG {
    flex-direction: column; /* Cambiamos la dirección del flexbox a columna /
  text-align: center; / Centramos el texto /
  font-size: 16px; / Reducimos el tamaño de la fuente */
  }

  .buttonContainer {
    justify-content: center; /* Centramos los botones */
    margin-top: 20px;
  }

  .buttonContainer button {
    margin: 0 5px; /* Reducimos el espacio entre los botones */
  }

  .name {
    font-size: 12px; /* Reducimos el tamaño de la fuente */
    position: static; /* Quitamos la posición absoluta /
    
  margin-top: 10px;
  border-radius: 0; / Quitamos la esquina redondeada /
  background-color: transparent; / Quitamos el fondo semitransparente /
  padding: 0; / Quitamos el espacio alrededor del texto /
  text-align: center; / Centramos el texto */
  }

}

