/* .container {
    display: flex;
    margin: auto;
    width: 60%;
    margin-top: 20px;
}

.container input {
    border-radius: 5px;
    height: 20px;
}

.container button {
    border-radius: 5px;
    height: 20px;
    background-color: darkslategray;
    color: white;
    padding: 0 10 0 10px;
    font-size: 10px;
    border: 0px;
}

.busqueda {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
  }
  
  .input {
    border: 2px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    width: 50%;   

  }
  
  .Button {
    background-color: #0b0d72;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .Button:hover {
    background-color: #0b0d7290;
  } */

.busqueda {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.input {
  margin: 0 10px;
  padding: 10px;
  width: 100px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}

.Button-clean {
  width: 40px;
  height: 40px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-image: url("../../images/clean.png");
  cursor: pointer;
  margin-right: 10px;
}

.Button-random {
  width: 40px;
  height: 40px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-image: url("../../images/random.png");
  cursor: pointer;
  margin-right: 10px;
}

.Button-add {
  width: 40px;
  height: 40px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-image: url("../../images/add.png");
  cursor: pointer;
  margin-right: 10px;
}

.Button-add:hover {
  background-image: url("../../images/addhover.png");
}
.Button-clean:hover {
  background-image: url("../../images/cleanhover.png");
}

.Button-random:hover {
  background-image: url("../../images/randomhover.png");
}
