.App {
   text-align: center;
   
}

.tarjetas{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   
      
}

.button{
   background-color: #3d3377; /* Green */
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

.buttonBusqueda{
   background-color: #168833; /* Green */
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

.button:hover {
   background-color: #080f50; /* Green */
   color: white;
}

.buttonBusqueda:hover {
   background-color: #08500c; /* Green */
   color: white;
}

